@import '../Sass/variables';
@import '../Sass/mixin';

.sidebar__right {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: 6;

  .sidebar__right-container {
    height: 100vh;
    width: 15vw;
    background-color: $main-back-dark;
    border-left: 1px solid rgba(255, 255, 255, 0.05);
    position: absolute;
    left: 0;
    top: 0;
    position: relative;
    @include flex(column, center);

    .sidebar__container {
      @include flex(column, space-between);
      height: 85vh;
      width: 15vw;
      color: white;

      .sidebar__popular {
        width: 60%;
        margin-top: 2rem;
      }

      .sidebar__header {
        font-size: 1rem;
        color: rgb(185, 185, 185);
        margin-bottom: 1.5rem;
        color: $main-color;
        letter-spacing: 3px;
        text-transform: uppercase;

        h3 {
          width: 100%;
        }
      }
    }
  }
}
