@import '../Sass/mixin';
@import '../Sass/variables';

.user__id {
  @include flex(column, space-between);

  img {
    object-fit: cover;
    object-position: center 10%;
    border-radius: 50%;
    border: 2px solid $main-color;
    height: 3rem;
    width: 3rem;
  }

  small {
    margin-top: 0.5rem;
    color: white;
    letter-spacing: 1.2px;
    font-size: 0.75rem;
  }
}
