.banner {
  height: 40vh;
  width: 50vw;
  background-color: black;
  position: relative;
  z-index: -2;
  border-radius: 40px;
  margin-top: 10vh;

  .banner__background {
    width: 100%;
    height: 100%;
    padding: 3rem;
    padding-top: 15%;

    .banner__heading {
      color: white;
      font-size: 4rem;
    }

    .banner__buttons {
      margin-top: 1rem;
      button {
        padding: 1rem 2rem;
        border: none;
        background-color: rgba(26, 26, 26, 0.664);
        color: white;
        margin-right: 1rem;
        border-radius: 5px;
      }
    }

    .banner__info {
      margin-top: 1rem;
      color: white;
      width: 20%;
      letter-spacing: 1px;
      line-height: 1.3rem;
      z-index: 2;
    }
  }
  .banner__fade-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70%;
    background: linear-gradient(
      to top,
      hsl(0, 0%, 8%),
      hsla(0, 0%, 8%, 0.95),
      hsla(0, 0%, 8%, 0.9),
      hsla(0, 0%, 8%, 0.5),
      hsla(0, 0%, 8%, 0)
    );

    transform: translateY(2%);
    z-index: -1;
  }
}
