@import '../Sass/mixin';
@import '../Sass/variables';

.row__posters {
  display: flex;
  transition: transform 0.8s ease;

  .poster__img-container {
    position: relative;

    .poster__img-container__text {
      position: absolute;
      bottom: 0;
      left: 0;
      color: white;
      padding-bottom: 3rem;
      padding-left: 2rem;
      text-transform: uppercase;
      font-size: 1rem;
    }
  }

  .row__poster {
    object-fit: contain;
    width: 290px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 10px;
    transition: transform 0.3s ease;
    cursor: pointer;

    &:hover {
      transform: translateY(-10px);
    }
  }

  .row__poster-backdrop {
    object-fit: contain;
    height: 250px;
    margin-right: 0.8rem;
    border-radius: 10px;
  }
}
