@import '../Sass/mixin';
@import '../Sass/variables';

nav {
  width: 1200px;
  height: 10vh;
  color: white;
  top: 0;
  @include flex(row, space-between);
  position: fixed;
  z-index: 999;
  padding: 2rem 0rem;

  .logo {
    color: $main-color;
    font-family: $logo-font;
  }

  ul {
    height: 10vh;
    width: 25%;
    list-style: none;
    @include flex(row, space-between);
    li {
      font-size: 1.5rem;
      cursor: pointer;
      &:hover {
        color: $main-color;
      }
    }
  }
}

.nav-black {
  background-color: $main-back-dark;
  transition: background-color 0.5s ease;
}
.nav-black-false {
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.5s ease;
}
