@import '../Sass/mixin';
@import '../Sass/variables';

.display-none {
  opacity: 0;

  pointer-events: none;
  transition: opacity 1.5s ease;
}

.row {
  width: 1280px;
  left: 0;
  overflow-x: hidden;
  position: relative;

  .row__gradient-right {
    background: linear-gradient(
      to left,
      $main-back-dark,
      hsla(0, 0%, 6%, 0.384),
      rgba(0, 0, 0, 0)
    );
    position: absolute;
    top: 80px;
    right: 0;
    height: 447px;
    width: 90px;
    z-index: 3;
  }
  .row__gradient-left {
    background: linear-gradient(
      to right,
      $main-back-dark,
      hsla(0, 0%, 6%, 0.829),
      hsla(0, 0%, 6%, 0.438),
      rgba(0, 0, 0, 0)
    );
    position: absolute;
    top: 80px;
    left: 0;
    height: 447px;
    width: 90px;
    z-index: 3;
  }

  .row__header {
    @include flex(row, space-between);
    width: 100%;
    height: 90px;
    .row__title {
      text-align: left;
      color: #dcdcdc;
      padding: 2rem 0rem;
      font-size: 1.5rem;
    }
    .row__scroll {
      @include flex(row, center);
      button {
        padding: 0.1rem 1.4rem;
        margin-left: 1rem;
        background-color: $main-color;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.2s ease;

        &:hover {
          background-color: #4491a8;
        }
      }
      .right__button {
        @include flex(row, center);
        opacity: 1;
        transition: opacity 1.5s ease;
        font-size: 1.3rem;
        color: white;
        transition: all 0.2s ease;
      }
      .left__button {
        @include flex(row, center);
        opacity: 1;
        transition: opacity 3s ease;
        font-size: 1.3rem;
        color: white;
        transition: all 0.2s ease;
      }
    }
  }
}
