@import '../Sass/variables';
@import '../Sass/mixin';

.sidebar__popular-list {
  li {
    position: relative;
    @include flex(row, left);
    p {
      position: absolute;
      font-size: 1.1rem;
      top: 5px;
      right: 0;
      width: 45%;
      transition: color 0.3s ease;
      &:hover {
        color: $main-color;
      }
    }
    small {
      position: absolute;
      font-size: 0.8rem;
      letter-spacing: 3px;
      bottom: 5px;
      right: 0;
      width: 45%;
      text-transform: uppercase;
      color: $main-color;
    }
  }
}

.popular_movie-img {
  object-fit: contain;
  width: 100px;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 10px;
  align-items: center;
  text-align: center;
  &:hover {
    transform: scale(1.08);
  }
}
.search__result-buttons {
  @include flex(row, space-between);
  width: 100%;
}
.search__result-button {
  margin-right: 1rem;
  width: 50%;
  height: 2.5rem;
  border: none;
  background-color: $main-color;
  color: white;
  font-size: 1rem;
  padding: 0 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 4px;
  font-weight: 700;
  &:hover,
  &:active {
    background-color: $main-color-hover;
  }
}
