@import '../Sass/variables';
@import '../Sass/mixin';

.menu {
  width: 100%;

  ul {
    list-style: none;
    width: 100%;

    li {
      width: 100%;
      margin-bottom: 1rem;
      font-size: 1.2rem;
    }
  }
}

.sidebar {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;

  .sidebar__left {
    height: 100vh;
    width: 15vw;
    background-color: $main-back-dark;
    border-right: 1px solid rgba(255, 255, 255, 0.164);
    position: absolute;
    left: 0;
    top: 0;

    .sidebar__container {
      padding: 4.5rem 5rem;
      @include flex(column, space-between);
      height: 100vh;
      width: 15vw;
      color: white;

      .sidebar__header {
        font-size: 1.3rem;
        color: rgb(185, 185, 185);
        margin-bottom: 2rem;
      }
    }
  }
}
